textarea{
	width: 1000px;
	height: 250px;
}
button{
	width: 500px;
	font-size: 200%;
}
textarea{
	width: 500px;
	height: 400px;
}
input{
	width: 500px;
	font-size: 200%;
}
button#acceptAnswer{
	width: 1000px;
}
body{
	display: flex;
	flex-direction: column;
}

/*button#waitAnswer{

}*/